MP3_WS_Client/web/WEB-INF/wsdl/localhost_8080/MP3_WS/MatricesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://domain/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://domain/" name="MatricesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://domain/" schemaLocation="http://localhost:8080/MP3_WS/MatricesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divideL">
<part name="parameters" element="tns:divideL"/>
</message>
<message name="divideLResponse">
<part name="parameters" element="tns:divideLResponse"/>
</message>
<message name="divideR">
<part name="parameters" element="tns:divideR"/>
</message>
<message name="divideRResponse">
<part name="parameters" element="tns:divideRResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="generate">
<part name="parameters" element="tns:generate"/>
</message>
<message name="generateResponse">
<part name="parameters" element="tns:generateResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<portType name="MatricesWS">
<operation name="add">
<input wsam:Action="http://domain/MatricesWS/addRequest" message="tns:add"/>
<output wsam:Action="http://domain/MatricesWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divideL">
<input wsam:Action="http://domain/MatricesWS/divideLRequest" message="tns:divideL"/>
<output wsam:Action="http://domain/MatricesWS/divideLResponse" message="tns:divideLResponse"/>
</operation>
<operation name="divideR">
<input wsam:Action="http://domain/MatricesWS/divideRRequest" message="tns:divideR"/>
<output wsam:Action="http://domain/MatricesWS/divideRResponse" message="tns:divideRResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://domain/MatricesWS/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://domain/MatricesWS/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="generate">
<input wsam:Action="http://domain/MatricesWS/generateRequest" message="tns:generate"/>
<output wsam:Action="http://domain/MatricesWS/generateResponse" message="tns:generateResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://domain/MatricesWS/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://domain/MatricesWS/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
</portType>
<binding name="MatricesWSPortBinding" type="tns:MatricesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divideL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divideR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MatricesWS">
<port name="MatricesWSPort" binding="tns:MatricesWSPortBinding">
<soap:address location="http://localhost:8080/MP3_WS/MatricesWS"/>
</port>
</service>
</definitions>